body,
html {
    margin: 0;
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}

.main-page {
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: black;
}

.container {
    height: 80%;
    width: 50%;
    margin: 75px auto;
    overflow: auto;
    background-color: skyblue;
}

.part-1 {
    height: 100%;
    width: 45%;
    float: left;
    padding: 20px;
    background-color: #09e1e1;
}

.part-2 {
    height: 100%;
    width: 55%;
    float: left;
    padding: 20px;
    background-color: white;
}

.box {
    height: 100%;
    width: 100%;
}

.logo {
    height: 50px;
    width: 30%;
    background-color: white;
    margin: 20px 0px;
}

.title {
    height: 30px;
    width: 70%;
    margin: 25px 0px 10px 0px;
    background-color: white;
}

.collections {
    height: 10px;
    width: 40%;
    background-color: blue;
}

.img {
    height: 150px;
    width: 100%;
    background-color: white;
    margin: 60px 0px;
}

.money {
    height: 50px;
    width: 50%;
    margin: 20px auto;
    background-color: white;
}

.vertical-menu {
    width: 40%;
    overflow: auto;
    margin: 40px auto;
}

.menus {
    width: 25%;
    float: left;
    padding: 7px;
}

.menu {
    height: 18px;
    width: 100%;
    overflow: auto;
    background-color: black;
}

.title-box {
    width: 100%;
    margin: 20px 0px 10px 0px;
    overflow: auto;
}

.title-line {
    width: 80%;
    float: left;
    padding: 10px;
    overflow: auto;
}

.title-text {
    height: 20px;
    width: 60%;
    float: left;
    background-color: black;
}

.label {
    padding: 5px;
    width: 20%;
    float: left;
    margin: 0px 10px;
    background-color: #fd5f00;
}

.new {
    height: 10px;
    width: 100%;
    background-color: white;
}

.share {
    width: 10%;
    padding: 10px;
    float: left;
    margin: 0px 35px 0px 0px;
}

.share-icon {
    height: 20px;
    width: 100%;
    background-color: gray;
}

.mint-grey {
    height: 10px;
    width: 20%;
    background-color: gray;
    margin: 0px 10px;
}

.rates {
    width: 25%;
    margin: 10px 10px;
    overflow: auto;
}

.stars {
    width: 15%;
    float: left;
    padding: 2px;
}

.star {
    height: 10px;
    width: 100%;
    background-color: #fd5f00;
}

.description-box{
    width: 100%;
    margin: 40px 0px;
}
.description-title-box{
    height: 25px;
    width: 70%;
    padding: 2px 0px;
    background-color: white;
}
.discription{
    width: 22.22%;
    float: left;
    padding: 10px;
}
.discription-name{
    height: 15px;
    width: 100%;
    background-color: darkgray;
}
.disc-para{
    height: 100px;
    width: 100%;
    background-color: gray;
    margin: 10px 0px;
}
.color{
    width: 100%;
    float: left;
    padding: 10px;
}
.color-name{
    height: 15px;
    width: 20%;
    background-color: darkgray;
}
.colours {
    width: 40%;
    margin: 10px 10px;
    overflow: auto;
}

.colour {
    width: 25%;
    float: left;
    padding: 0px 20px 0px 0px;
}

.colour-name {
    height: 15px;
    width: 100%;
    background-color: #fd5f00;
}
.numbers {
    width: 70%;
    margin: 50px 10px 20px 10px;
    overflow: auto;
}

.number {
    width: 20%;
    float: left;
    padding: 0px 30px 0px 0px;
}

.no{
    height: 15px;
    width: 100%;
    background-color: lightgray;
}

.quantity{
    width: 40%;
    margin: 5px 0px;
    padding: 5px;
}
.num{
    height: 20px;
    width: 50%;
    margin: 30px 5px 0px 5px;
    background-color: lightgray;
}
.add{
    width: 100%;
    margin: 10px 0px;
    overflow: auto;
}
.cart{
    width: 50%;
    float: left;
    padding: 5px 30px 5px 0px;
}
.wishlist{
    height: 40px;
    width: 100%;
    background-color: #fd5f00;
}
